<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yatraa</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
  <link rel="stylesheet" href="../static/css/user_profile.css">
  <link rel="stylesheet" href="../static/css/global.css">
  <script src="../static/js/layout.js"></script>
</head>
<body>

<div id="header-placeholder"></div>

<main>
  <section class="screen">
    

    <div class="profile-container">
      <div class="profile-image-card">
        <div class="avatar" id="profileAvatar">
          <img src="../static/images/profile-pic.jpg" alt="profile picture" srcset="">
        </div>
        <!-- <input type="file" id="profileImageInput" accept="image/*"> -->
         
      </div>

      <div class="profile-details">
        <h2>User Details</h2>

        
        <div class="details">
          <h3 class="pfield">Name</h3>
          <p class="pdata">Username</p>
        </div>
        <div class="details">
          <h3 class="pfield">Email</h3>
          <p class="pdata">example@email.com</p>
        </div>
        <div class="details">
          <h3 class="pfield">Language</h3>
          <p class="pdata">English(US)</p>
        </div>
        <div class="details">
          <h3 class="pfield">Country</h3>
          <p class="pdata">India</p>
        </div>
        <div class="details">
          <h3 class="pfield">Currency</h3>
          <p class="pdata">INR</p>
        </div>
        <div class="details">
          <h3 class="pfield">Timezone</h3>
          <p class="pdata">IST</p>
        </div>
        <button class="edit-profile-btn">Edit Profile</button>
        <button class="logout-btn">Logout</button>
        <button class="delete-acc-btn">Delete Account</button>
        

        <p id="profileMessage" class="success-message"></p>
      </div>
    </div>

    <section class="trip-section">
      <div class="section-heading">
        <h2>Ongoing Trips</h2>
        <a href="#">Veiw all trips</a>
      </div>
      <div class="trip-grid" id="previousTrips">
        <div class="tripDetails">
          <div class="trip-name">
            <h4>Rajasthan Exploration</h4>
            <p class="trip-desc">This is a description for this trip.</p>
          </div>
          <button>View Itinerary</button>
        </div>
        <div class="tripDetails">
          <div class="trip-name">
            <h4>Rajasthan Exploration</h4>
            <p class="trip-desc">This is a description for this trip.</p>
          </div>
          <button>View Itinerary</button>
        </div>
    
      </div>
      <div class="section-heading">
        <h2>Preplanned Trips</h2>
        <a href="#">Veiw all trips</a>
      </div>
      <div class="trip-grid" id="preplannedTrips">
      <div class="tripDetails">
          <div class="trip-name">
            <h4>Rajasthan Exploration</h4>
            <p class="trip-desc">This is a description for this trip.</p>
          </div>
          <button>View Itinerary</button>
        </div>
        <div class="tripDetails">
          <div class="trip-name">
            <h4>Rajasthan Exploration</h4>
            <p class="trip-desc">This is a description for this trip.</p>
          </div>
          <button>View Itinerary</button>
        </div>
        
      </div>
    </section>

    <section class="trip-section">
      <div class="section-heading">
        <h2>Previous Trips</h2>
        <a href="#">Veiw all trips</a>
      </div>
      <div class="trip-grid" id="previousTrips">
        <div class="tripDetails">
          <div class="trip-name">
            <h4>Rajasthan Exploration</h4>
            <p class="trip-desc">This is a description for this trip.</p>
          </div>
          <button>View Itinerary</button>
        </div>
        <div class="tripDetails">
          <div class="trip-name">
            <h4>Rajasthan Exploration</h4>
            <p class="trip-desc">This is a description for this trip.</p>
          </div>
          <button>View Itinerary</button>
        </div>
    
      </div>
    </section>
  </section>
</main>

<div id="footer-placeholder"></div>

<script src="../static/js/data.js"></script>
<script src="../static/js/user_profile.js"></script>
</body>
</html>
