<style>
    footer{
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* background-color: lightblue; */
    }
    footer nav{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    footer .contact{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
</style>

<footer>
    <section class="branding">
        <h2>Yatraa</h2>
        <p class="tagline">Less time planning, more time enjoying.</p>
    </section>
    
    <nav>
        <h3>Important Links</h3>
        <a href="homepage.html">Home</a>
        <a href="aboutus.html">My Trips</a>
        <a href="user_calendar.html">Calendar View</a>
        <a href="explore.html">Explore</a>
        <a href="community.html">Community</a>
    </nav>

    <section class="contact">
        <h3>Contact Us</h3>
        <a href="#">yatraa@email.com</a>
        <a href="#">yatraa@instagram</a>
        <a href="#">yatraa@facebook</a>
    </section>
</footer>