html, body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

main{
    max-width: 100vw;
}
section{
    padding:0px 10px;
    box-sizing: border-box;
}

.white-btn{
  color: black;
  background-color: white;
  border: 1px solid rgb(207, 206, 206);
}
.white-btn:hover{
    background-color:rgb(207, 206, 206) ;
}
.blue-btn{
  background-color: #439ADD;
  border: 1px solid #439ADD;
  color: white;
}
.blue-btn:hover{
  background-color: #357eb6;
}
.active-page{
  /* background-color: rgb(226, 235, 248);
  padding: 10px;
  border-radius: 5px; */
  text-decoration: underline;
}